/*fonts Nunito Sans and Roboto imported using Google Fonts API*/

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:900,400,200|Roboto:400,400i');

/*-General-*/

body {
	font-family: "Roboto", sans-serif;
}

.large-wrapper {
	max-width: 1600px;
}

/*-Hero images-*/

.hero-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0px;
}

.hero-image--none {
	background-color: #d0d0d0;
}

.hero-image--home {
	background-image: url("../images/hero-image.jpg");
	background-color: rgb(142, 169, 186);
}

.hero-image--music {
	background-image: url("../images/hero-image-music.jpg");
	background-position: 50% 30%;
	background-color: rgb(101, 101, 101);
	color: white;
}

.hero-image--shows {
	background-image: url("../images/hero-image-shows.jpg");
	background-color: rgb(31, 31, 31);
	background-position: 75% 30%;
	color: white;
}

/*-Header-*/

.logo {
	background-image: url("../images/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 18.7%;
}

.logo h1 {
	/*Improvement on indent -9999px from http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/*/
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	/*1px font-size to maintain parent div's aspect ratio*/
	font-size: 1px;
}

.menu-toggle {
	display: block;
	font-size: 8vw;
	color: rgba(0, 0, 0, 0.7);
}

.menu-dropdown {
	text-align: center;
	padding-bottom: 15px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}

.menu-dropdown--no-border {
	border: none;
}

.menu-link, .menu-link:visited {
	display: inline;
	font-family: "Nunito Sans", sans-serif;
	font-weight: 900;
	color: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	font-size: 28px;
	letter-spacing: 4px;
	padding: 0px 5px;
	transition: color 0.4s;
}

.menu-link:hover, .menu-link:active, .menu-toggle:hover, .menu-toggle:active  {
	color: rgba(0, 0, 0, 1);
}

.menu-link--current {
	border-bottom: 2px solid black;
	color: black;
}

/*lighter menu item modifiers for dark backgrounds*/

.menu-toggle--light, .menu-link--light, .menu-link--light:visited  {
	color: rgba(255, 255, 255, 0.7);
}

.menu-dropdown--light {
	border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

.menu-dropdown--bg {
	background-color: rgba(0,0,0,0.4);
}

.menu-link--light:hover, .menu-link--light:active, .menu-toggle--light:hover, .menu-toggle--light:active  {
	color: rgba(255, 255, 255, 1);
}

.menu-link--current--light {
	border-bottom: 2px solid white;
	color: white;
}

/*For -md devices and above override collapse behavior for #collapse-menu navigation and style for larger devices*/

@media (min-width: 768px) {
	
	/*Redundancy - site still works if either this stylesheet or bootstrap are missing/unavailable.
	If this stylesheet doesn't load the menu will always display as a collapsing component, but if 
	bootstrap is used to hide the toggle it cant be accessed. So this css rule is used to hide the 
	controls instead*/
	.menu-toggle-wrapper {
		display: none !important;
	}

	#collapse-menu.collapse:not(.show) {
	  	display: inline-flex;
	  		display: -ms-inline-flexbox;
	}

	#collapse-menu.collapsing {
		transition: none;
		height: auto;
	}

	.menu-dropdown, .menu-dropdown--light {
		border-bottom: none;
		padding-bottom: initial;
		background-color: rgba(0,0,0,0);
	}

	.menu-link, .menu-link:visited {
		font-size: 2vw;
		margin-left: 1vw;
		padding: 8px 16px;
		letter-spacing: 0.4vw;
	}

}

/*Stop nav links from getting ridiculously large on particularly big displays*/

@media (min-width: 1800px) {
	.menu-link {
		font-size: 36px;
		margin-left: 18px;
		letter-spacing: 8px;
	}
}

/*-Content-*/

.section-wrapper {
	background-color: #f9f9f9;
}

.heading {
	font-family: "Nunito Sans", sans-serif;
	font-weight: 400;
	letter-spacing: 0.125em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 15px;
}

.heading--lead {
	font-size: 2.5em;
}

.button {
	font-family: "Nunito Sans", sans-serif;
	font-weight: 900;
	letter-spacing: 0.125em;
	text-transform: uppercase;
	border-radius: 1.5em;
	margin-bottom: 15px;
}

/*Reset font-weight for Fontawesome glyphs inside buttons*/

.button .fas, .button .fab {
	font-weight: initial;
}

/*Shortened border rule adapted from: https://ivan.reallusiondesign.com/how-to-make-border-smaller-than-div/*/

.vr-hr:after {
	content: "";
	position: absolute;
	left: 10%;
	top: 100%;
	width: 80%;
	border-bottom: 2px solid black;
}

.album {
	width: 80%;
	max-width: 600px;
	height: auto;
	margin: 10%;
	border: none;
}

.music-button, .music-button:visited {
	color: white;
	background-color: #5A8768;
	border-color: #5A8768;
}

.music-button:hover, .music-button:active{
	color: white;
	background-color: #447151;
	border-color: #447151;
}

.headshot {
	display: block;
	width: 45%;
	max-width: 450px;
	height: auto;
	border-radius: 50%;
	margin: 0.5em auto;
	text-align: center;
}

.date {
	display: block;
	float: right;
	font-family: "Nunito Sans", sans-serif;
	font-size: 36px;
	font-weight: 200;
	letter-spacing: 0.125em;
	text-transform: uppercase;
	text-align: center;
	margin: 0 12px;
	padding-top: 10px;
}

.date-days {
	font-size: 1.5em;
	display: block;
	width: 100%;
	border-bottom: 2px solid black;
	line-height: 1em;
}

.date-days--light {
	border-bottom: 2px solid white;
}

.location {
	font-family: "Nunito Sans", sans-serif;
	font-weight: 200;
	letter-spacing: 0.125em;
	text-transform: uppercase;
	margin-top: 15px;
}

.shows-button, .shows-button:visited {
	color: white;
	background-color: #EE8A3A;
	border-color: #EE8A3A;
}

.shows-button:hover, .shows-button:active{
	color: white;
	background-color: #C37130;
	border-color: #C37130;
}

.contact-button, .contact-button:visited {
	color: white;
	background-color: #696969;
	border-color: #696969;
}

.contact-button:hover, .contact-button:active{
	color: white;
	background-color: #7a7a7a;
	border-color: #7a7a7a;
}

.contact-avatar {
	margin: 15px;
	border-radius: 50%;
}

.embed-wrapper {
	width: 90%;
	margin: 15px 5%;
}

/*Spotify embed is responsive, on xs & sm devices to show just the controls height should be 80px*/

.spotify-embed:before {
	padding-top: 80px;
}

.embed-wrapper--spotify {
	max-width: 500px;
}

.testamonial {
	font-size: 1.4em;
	font-style: italic;
	margin-left: 15%;
	margin-right: 5%;
	margin-top: 30px;
	padding-left: 15px;
	border-left: 2px solid rgba( 255, 255, 255, 0.5);
}

.attribution {
	font-size: 1rem;
	font-style: normal;
	color: rgba( 255, 255, 255, 0.6);
}

@media (min-width: 768px) {
	.section-wrapper {
		padding: 0 4%;
	}

	.vr-hr-md:after {
		content: "";
		position: absolute;
		left: 100%;
		top: 10%;
		height: 80%;
		width: initial;
		border-left: 2px solid black;
		border-bottom: none;
	}

	.heading--lead {
		font-size: 5vw;
	}

	.headshot {
		width: 30%;
		float: left;
		margin-right: 15px;
		margin-bottom: 0.5em;
	}

	/*On md and larger devices spotify embed should show album art, it needs to be square +80px vertically for controls*/

	.spotify-embed:before {
		padding-top: 100%;
		padding-bottom: 80px;
	}
}

@media (min-width: 992px) {
	.vr-hr-lg:after {
		content: "";
		position: absolute;
		left: 100%;
		top: 10%;
		height: 80%;
		width: initial;
		border-left: 2px solid black;
		border-bottom: none;
	}
}

@media (min-width: 1600px) {
	.heading--lead {
		font-size: 80px;
	}
}

/*-Footer-*/

.footer {
	background-color: #333333;
	color: #fafafa;
	min-height: 180px;
}

.social-heading {
	font-size: 16px;
	color: #f0f0f0;
	margin-top: 15px;
	margin-bottom: 0px;
}

.social-menu {
	text-align: center;
}

.social-link {
	color: #cccccc;
	font-size: 30px;
	width: 45px;
	height: 45px;
	text-align: center;
	margin: 8px;
	transition: color 0.4s;
}

.social-link:hover, .social-link:active {
	color: #ffffff;
}

.copy-notice {
	color: #999999;
	font-size: 0.7em;
	text-align: center;
	margin-bottom: 0.7em;
}

